/* 가로 세로 낱말퀴즈 스타일 */

.quiz1 {position: relative;}
.quiz1 .inner {max-width:1320px;margin: 0 auto;}
.quiz1 .wrap_quiz {display: flex; width:100%; align-items: center; margin-top: 59px;}
.quiz1 .wrap_quiz .box_game {position:relative; width: 648px;padding:56px;background-color: #f7f7f7; border-radius: 22px; box-sizing: border-box;}
.wrap_quiz .box_game .inner_box {position: relative;padding-bottom: 100%;}
.list_q {display: flex; position: absolute;}
.list_q.type_hrsn {width: 100%; height: 20%;}
.list_q.type_vtc {flex-direction: column; height: 100%; width: 20%;}
.list_q li {width: 20%; height: 100%; padding: 1.91%; box-sizing: border-box; cursor: pointer;}
.list_q.type_vtc li {height: 20%; width: 100%; padding: 9.55%;}
.list_q li .item_q {display: block; position: relative; padding-bottom: 100%;border-radius: 16px; background-color: #fff; box-sizing: border-box;}
.list_q.case_corrt li .item_q {background-color: #1e78f0; z-index: 1;}
.list_q.type_vtc li .item_q {padding-bottom: 0; height: 100%; padding-left: 100%;}
.list_q.case_write li .item_q::before {position: absolute;content: ''; left: 0; top: 0; width: 100%;height: 100%; border-radius: 16px; border: solid 3px #1e78f0; box-sizing: border-box;z-index: 5;}
.list_q li .item_q .txt_num {position: absolute; top: 15px; left: 13px; z-index: 5; font-size: 12px; line-height: 1.17; font-weight: bold; color: #c7c7c7;}
.list_q li .item_q .box_a {position: absolute; left: 50%; top: 50%; margin-top: 1px; transform: translate(-50%, -50%); z-index: 5; font-size: 2vw; line-height: 1.38; color: #1e78f0; font-weight: bold;}
.list_q.case_corrt li .item_q .box_a {color: #fff;}

.quiz1 .wrap_quiz .box_quiz {width: 672px;padding-left: 27px;}
.wrap_quiz .box_quiz .area_q + .area_q {margin-top: 61px;}
.wrap_quiz .box_quiz .tit_q {display: block; font-size:22px; color: #3774df;}
.wrap_quiz .box_quiz .txt_q {margin-top: 14px; font-size:18px; line-height: 1.44; color: #666;}
.wrap_quiz .box_quiz .tgg_box {margin-top: 24px;}
.wrap_quiz .box_quiz .tgg_box .btn_tgg {width: 93px;line-height: 26px;text-align: center;font-size: 12px; color: #fff; font-weight: bold; border-radius: 100px;background-color: #ffce46;}
.box_quiz .tgg_box .btn_tgg .ico_arr {display: inline-block; margin-left: 7.5px; width: 14px;height:8.5px;background: url(../img/quiz/ico_tggArr.svg) no-repeat 50%; transition: transform .3s ease-in-out;}
.box_quiz .tgg_box .btn_tgg.on .ico_arr {transform: rotate(-180deg);}
.box_quiz .tgg_box .txt_tgg {display: none; margin-top: 12px;font-size: 14px;line-height: 1.43;color:#666;}
.box_quiz .wrap_a {position: relative; width: 422px; margin-top: 32px;}
.box_quiz .wrap_a .btn_a {position: absolute;right: 0; top: 0;width: 136px;line-height: 48px;border-radius: 24px;background-color: #1e78f0;text-align: center;font-size: 18px;color: #fff;}
.box_quiz .wrap_a .inp_txt {display: block;height:48px;width:100%;padding: 0 136px 0 31px;border-radius: 24px;border: solid 2px #1e78f0;background-color: #fff;box-sizing: border-box;
font-size: 18px; color: #3774df; font-weight: bold;}
.box_quiz .wrap_a .inp_txt::placeholder {color: #3774df;}
.box_quiz .wrap_a.type_finsh .btn_a {background-color: #c7c7c7;}
.box_quiz .wrap_a.type_finsh .inp_txt {border-color: #c7c7c7; color:#999;}





@media screen and (max-width: 1446px){
  .list_q li .item_q .txt_num {top: 9px;left: 10px;}
}

@media screen and (max-width: 1200px){
  .quiz1 .wrap_quiz .box_game {padding-left: 35px;}
  .list_q li .item_q .txt_num {font-size: 11px;}
  .quiz1 .wrap_quiz .box_game {padding: 42px;}
  .list_q li .item_q .box_a {font-size: 1.8vw;}
}

/* ###### 태블릿 ###### */
@media screen and (max-width: 1024px){
  .quiz1 {padding-top: 0;}
  .quiz1 .inner {padding-bottom: 0;padding-top: 40px;}
  .quiz1 .wrap_quiz {display: block; margin-top: 43px;}
  .quiz1 .wrap_quiz .box_game {width: auto; max-width: 490px; margin: 0 auto;}
  .quiz1 .wrap_quiz .box_quiz {width: auto; padding-left: 0;padding-top: 53px;}
  .wrap_quiz .box_quiz .area_q + .area_q {margin-top: 50px;}
  .wrap_quiz .box_quiz .tit_q {font-size: 18px;margin-top: 12px;font-size: 16px;line-height: 1.38; border-radius: 12px;}
  .box_quiz .wrap_a {margin-top: 24px;}
}

/* ###### 모바일 ###### */
@media screen and (max-width: 809px){
  .quiz1 .inner {padding-bottom: 30px;padding-top: 0;}
  .quiz1 .wrap_quiz .box_quiz {padding-top: 24px;}
  .wrap_quiz .box_quiz .tit_q {font-size: 16px;}
  .wrap_quiz .box_quiz .txt_q {margin-top: 10px;}
  .wrap_quiz .box_quiz .tgg_box {margin-top: 20px;}
  .wrap_quiz .box_quiz .tgg_box .btn_tgg {width: 63px; line-height: 20px; font-size: 10px;}
  .box_quiz .tgg_box .btn_tgg .ico_arr {width:10px; height: 6px; margin-left: 6.4px; background-size: contain;}
  .box_quiz .wrap_a {width: 100%;}
  .box_quiz .wrap_a .inp_txt {height: 36px;padding: 0 106px 0 20px;font-size: 14px;}
  .box_quiz .wrap_a .btn_a {line-height: 36px; width: 96px;font-size: 14px;}
  .wrap_quiz .box_quiz .txt_q {font-size: 14px;}
  .list_q li {padding: 1.5%;}
  .list_q.type_vtc li {padding: 7.5%;}
  .list_q li .item_q {border-radius: 8px;}
  .list_q.case_write li .item_q::before {border-width: 2px;border-radius: 8px;}
  .quiz1 .wrap_quiz .box_game {padding: 8.26%;}

  .list_q li .item_q .txt_num {top: 5px; left: 6px; font-size: 8px;}
  .list_q li .item_q .box_a {font-size: 3.9vw;}

}
  